---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getVisuals } from "../../library/microcms";
import { REPRESENTATIVE_IMAGES } from "../../utils/constants";
import Carousel from "../../components/Carousel.astro";

export function getStaticPaths() {
  return REPRESENTATIVE_IMAGES.map((image) => {
    return {
      params: { year: image.year },
    };
  });
}
const pageTitle = "photos";
const { year } = Astro.params;

const response = await getVisuals();

const visuals = response.contents.map((visual) => visual);
const groupedVisuals = visuals.filter(
  (visual) => visual.year.toString() === year,
);
---

<BaseLayout pageTitle={`${pageTitle} in ${year}`}>
  {
    groupedVisuals.length === 0 ? (
      <p>No Contents</p>
    ) : (
      <div class="wrapper">
        <Carousel visuals={groupedVisuals} />
      </div>
    )
  }
</BaseLayout>

<style>
  .wrapper {
    margin-top: 50px;
  }
</style>
