---

---

<footer>
  <p>Copyright 2025 Haruna Nishita</p>
</footer>

<style>
  footer {
    position: sticky;
    top: 100vh;
    display: flex;
    justify-content: center;
    color: #474747;
    font-size: 12px;
    margin-bottom: 2rem;
  }

  :global(.dark) footer {
    color: #a4a3a3;
  }
</style>
