---
import logoLight from "src/assets/common/logo-light.svg";
import logoDark from "src/assets/common/logo-dark.svg";
import ThemeIcon from "src/components/ThemeIcon.astro";
---

<header>
  <nav>
    <div class="nav_contents">
      <a href="/">
        <img class="logo_light" src={logoLight.src} alt="light mode logo" />
        <img class="logo_dark" src={logoDark.src} alt="dark mode logo" />
      </a>
      <div class="nav_links">
        <a href="/about" class="link">ABOUT</a>
        <a href="/works" class="link" data-astro-reload>WORKS</a>
        <ThemeIcon />
      </div>
    </div>
  </nav>
</header>

<style>
  .nav_contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }

  .link {
    color: #3c3c3c;
    padding: 4px 8px;
  }

  :global(.dark) .link {
    color: #cccccc;
  }

  .logo_light {
    margin-top: 12px;
    width: 72px;
    height: 83px;
  }

  .logo_dark {
    margin-top: 12px;
    width: 72px;
    height: 83px;
    display: none;
  }

  :global(.dark) .logo_light {
    display: none;
  }
  :global(.dark) .logo_dark {
    display: inline;
  }

  @media (min-width: 960px) and (max-width: 1280px) {
    .logo_light {
      margin-top: 16px;
      width: 64px;
      height: 74px;
    }

    .logo_dark {
      margin-top: 16px;
      width: 64px;
      height: 74px;
    }
  }

  @media (max-width: 960px) {
    .logo_light {
      margin-top: 18px;
      width: 40px;
      height: 46px;
    }

    .logo_dark {
      margin-top: 18px;
      width: 40px;
      height: 46px;
    }
  }
</style>
