---
import { css } from "styled-system/css";
---

<footer
  class={css({
    position: "sticky",
    top: "100vh",
    display: "flex",
    justifyContent: "center",
    color: "footer",
    fontSize: { base: "10px", lg: "xs" },
  })}
>
  <p
    class={css({
      mb: "2rem",
    })}
  >
    Copyright 2025 Haruna Nishita
  </p>
</footer>
